.cart-header
  .cart-header__content
    .cart-header__content__logo
      = link_to "東京畳工房", root_path, class: 'cart-header__content__logo__top', id: 'cart-header-font'
      = link_to "Tokyo Tatami Studio", root_path, class: 'cart-header__content__logo__bottom', id: 'cart-header-font'