.products-header
  .products-header__content
    .products-header__content__left
      .products-header__content__left__logo
        = link_to "東京畳工房", root_path, class: 'products-header__content__left__logo__top',id: 'products-header-font'
        = link_to "Tokyo Tatami Studio", root_path, class: 'products-header__content__left__logo__bottom',id: 'products-header-font'

    - unless controller.controller_name == 'products' && controller.action_name == 'show'
      .products-content__main__tab
        %ul.products-content__main__tab__group
          %li.product-tab.tab-all.is-active ALL
          %li.product-tab.tab-frame 縁

    .products-header__content__right
      .products-header__content__right__cart
        = link_to("#{cart_path(current_cart.id)}") do
          %i.fas.fa-shopping-cart.fa-2x.cart-color


