= render 'shared/products-header'

.low-content
  .low-content__title
    %h1 特定商取引法に基づく表記
  %dl
    %dt 事業者の名称
    %dd 安藤達広

    %dt 事業者の所在地
    %dd
      郵便番号 ：1970011
      %br/
      住所 ：東京都福生市福生435-4 ポワールビラ102号室

    %dt 事業者の連絡先
    %dd 
      電話番号 ： 090-3538-6885
      %br/
      Mail : andotatsuhiro5@gmail.com
      %br/
      営業時間：10:00~18:00　定休日：日祝
    
    %dt 販売価格について
    %dd 販売価格は、表示された金額（表示価格/消費税込）と致します。

    %dt 代金（対価）の支払方法と時期
    %dd 
      支払方法：クレジットカードによる決済がご利用頂けます。支払時期：商品注文確定時でお支払いが確定致します。
      %br/
      送料は全国一律200円です。また、購入代金の合計が7000円以上の場合は送料無料となります。


    %dt 役務または商品の引渡時期
    %dd
      %ul
        %li 【縁】配送のご依頼を受けてから5日以内に発送いたします。
        %li 【畳小物】配送のご依頼を受けてから5日以内に発送いたします。
        %li 【置き畳】配送のご依頼を受けてから10日以内に発送いたします。

    %dt 返品についての特約に関する事項
    %dd 
      商品に欠陥がある場合を除き、基本的には返品には応じません。
      %br/
      不良品の場合は商品到着より10日以内にメールにてご連絡ください。良品と交換いたします。

  = render "shared/links"
