.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: left;
  border:2px solid #990000;
  padding:12px; font-weight:850;margin: 3vh 0;
}

.payment-errors {
  display: none;
  color:#262626; 
  background:#FFEBE8;
  text-align: left;
  border:2px solid #990000;
  padding:12px; font-weight:850;margin: 3vh 0;
}

