@media screen and (min-width: 767px) {
  #header-font {
    text-decoration: none;
    color: #ffffff;
  }

  @font-face {
    font-family: 'mouhitu';
    src: url('fonts/KouzanMouhituFontOTF.otf');
  }

  .header {
    width: 100%;
    position: fixed;
    display: flex;
    height: 90px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    &__main {
      margin: auto;
      width: 100%;
      padding: 0 105px;
      &__content {
        display: flex;
        justify-content: space-between;
        &__logo {
          display: block;
          width: 225px;
          padding-top: 10px;
          &__top {
            font-family: 'mouhitu';
            font-size: 45px;
          }
          &__bottom {
            font-size: 15px;
            padding-left: 15px;
          }

        }
        &__menu {
          display: flex;
          line-height: 90px;
        }
        #menu {
          margin-right: 20px;
          font-size: 15px;
          font-family: Arial,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,sans-serif; -moz-osx-font-smoothing: grayscale;
        }
      }
  
  
    }
    &__right {
      width: 135px;
      margin-right: 10px;
      &__contact {
        font-size: 13px;
        line-height: 90px;
        text-align: center;
        &__text {
          border-radius: 1px;
          border: 1px solid #ffffff;
          border-spacing: 10px 100px;
          padding: 10px 10px 10px 10px;

        }
      }
    }
  }

}

