@media screen and (min-width: 767px) {
  html {
    overflow: auto;
  }
  body {
    overflow: hidden;
  }

  // フェードイン
  #home-header-show {
    animation-name: fade-in;
    animation-duration: 1.8s;
    animation-delay: 4.9s;
    opacity: 0; 
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
  }

  .scroll {
    animation-name: fade-in;
    animation-duration: 1.8s;
    animation-delay: 4.9s;
    opacity: 0; 
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    z-index: 20;
  }
  
  .arrow {
    position: absolute;
    z-index: 400;
    width: 46px;
    height: 46px;
    box-sizing: border-box;
  }
  .arrow::after {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation: sdb 1.5s infinite;
  }

  

  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }


  .mainvisual {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    animation-name: fade-in;
    animation-duration: 1.8s;
    &__hello-message {
      position: absolute;
      top: 220px;
      left: 670px;
      right: 0;
      bottom: 0;
      z-index: 25;
      animation-name: fade-out;
      animation-duration: 1.3s;
      animation-delay: 2.9s;
      opacity: 1; 
      animation-fill-mode: forwards;
        &__welcome {
        font-size: 66px;
        font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std';
        color: #ffffff;
        border-right: 16px solid;
        overflow: hidden;
        width: 0;
        animation: type 1.6s steps(9, end) 1000ms forwards;
      }

      @keyframes fade-out {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      @keyframes type {
        to {
          width: 400px;
        }
      }
    }
    &__open-message {
      position: absolute;
      top: 420px;
      left: 236px;
      right: 0;
      bottom: 0;
      z-index: 25;
      animation-name: fade-in;
      animation-duration: 1.8s;
      animation-delay: 5.9s;
      opacity: 0; 
      animation-fill-mode: forwards;
      &__tatami {
        font-size: 66px;
        font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std';
        color: #ffffff;
        letter-spacing: 10px;
        &::after {
          content: 'Japan-specific culture';
          display: block;
          letter-spacing: 10px;
          color: #ffffff;
          font-size: 18px;
          position: absolute;
          left: -20px;
        }
      }
    }
    &__text {
      position: absolute;
      top: 90px;
      left: 0;
      right: 116px;
      bottom: 0;
      z-index: 30;
      font-size: 27px;
      font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      animation-name: fade-in;
      animation-duration: 1.8s;
      animation-delay: 4.9s;
      opacity: 0; 
      animation-fill-mode: forwards;
      font-weight: bold;
      &__right {
        background: #ffffff;
        opacity: .9;
        padding-top: 14px;
        height: 210px;
      }
      &__center {
        background: rgba(144, 180, 75, .9);
        padding-top: 14px;
        height: 400px;
      }
      &__left {
        background: rgba(144, 180, 75, .9);
        padding-top: 14px;
        height: 450px;
      }
    }
    .mainimage {
      background: url("opening1.jpg");
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-size: cover;
      background-position: center center;
    }

    &::after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: #FFF 0px solid;
      opacity: .9;
      box-sizing: border-box;
      z-index: 0;
      animation-name: animation;
      animation-duration: 1.8s;
      animation-delay: 3.8s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards;
    }
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }


    @keyframes animation {
      0% {
        border-width: 0 0;
      }
    
      100% {
         border-width: 7rem 8vw;
      }
    }
  }

  .home-content {
    padding-left: 14vw;
    margin-top: 55px;
    &__products {
      &__title::before {
        content: 'products';
        font-size: 15px;
        display: block;
      }
      &__list {
        display: flex;
        &__minitatami {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Mini Tatami';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
        &__pattern {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          margin-left: 30px;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Frame pattern';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
        &__order-made {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          margin-left: 30px;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Order Made';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
      }
    }
    &__rental {
      &__title::before {
        content: 'rental';
        font-size: 15px;
        display: block;
      }
    }
    &__introduce {
      &__title::before {
        content: 'About Tatami';
        font-size: 15px;
        display: block;
      }
    }
    &__contact {
      margin: 40px 20vw 40px 0;
      font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
      &__link {
        border-top: solid #111111 1px;
        border-bottom: solid #111111 1px;
        padding: 20px 0 20px 15px;
        display: flex;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        text-decoration: none;
        color: #111111;
        &:hover{
          background: #222;
          color: #d6cdcd;
        }
        &__main-text {
          font-size: 37px;
          letter-spacing: 5px;
          &::before {
            content: 'contact';
            font-size: 15px;
            display: block;
          }
          &::after {
            content: 'お気軽にお問い合わせください';
            font-size: 18px;
            margin-left: 20vw;
          }
        }
      }
    }
  }
  #onebox {
    height: 100vh;
    width: 100%;
    font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
    display: block;
    &__title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 5px;
    }
    &__main {
      padding: 120px 8vw 20px 10vw;
    }

  }
}