@media screen and (min-width: 767px) {
  #header-font {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }

  @font-face {
    font-family: 'mouhitu';
    src: url('fonts/KouzanMouhituFontOTF.otf');
  }



  .home-header {
    width: 100%;
    position: fixed;
    display: flex;
    border-bottom: 1px solid rgba(58,50,38,.2);
    &__main {
      margin: auto;
      width: 100%;
      padding: 0 15px;
      &__content {
        display: flex;
        justify-content: space-between;
        &__logo {
          display: block;
          width: 225px;
          padding-top: 10px;
          &__top {
            font-family: 'mouhitu';
            font-size: 45px;
          }
          &__bottom {
            font-size: 15px;
            padding-left: 15px;
          }

        }
        &__menu {
          display: flex;
          margin: 0 auto;
          line-height: 100px;

        }
        #menu {
          margin-right: 40px;
          font-size: 18px;
          font-family: Arial,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,sans-serif; -moz-osx-font-smoothing: grayscale;
        }
      }
  
    }
    &__right {
      width: 225px;
      background-color: #666666;
    }
  }

}

