@media screen and (min-width: 767px) {

  .opening-image {
    background: url("home1.jpg");
    height: 100vh;
    width: 100vw;
  }

  #home-img {
    background: url("home1.jpg");
    height: calc(100vh - 200px);
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }

  .home-image {
    margin: 100px;
  }

  .home-content-top-img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
  }

  #home-links-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 40px;
  }
}