@media screen and (min-width: 767px) {

  .home-content-top-img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
  }

  #home-links-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 40px;
  }
}