@media screen and (min-width: 767px) {
  html {
    overflow: auto;
  }
  body {
    overflow: hidden;
  }

  .mainvisual {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    animation-name: fade-in;
    animation-duration: 1.8s;
    &__text {
      position: absolute;
      top: 90px;
      left: 0;
      right: 116px;
      bottom: 0;
      z-index: 30;
      font-size: 27px;
      font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      animation-name: fade-in;
      animation-duration: 1.8s;
      animation-delay: 1.8s;
      opacity: 0; 
      animation-fill-mode: forwards;
      &__right {
        background: #ffffff;
        padding-top: 14px;
        height: 195px;
      }
      &__center {
        background: rgb(144, 180, 75);
        padding-top: 14px;
        height: 390px;
      }
      &__left {
        background: rgb(144, 180, 75);
        padding-top: 14px;
        height: 420px;
      }
    }
    .mainimage {
      background: url("AdobeStock_262381232_Preview.jpeg");
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-size: cover;
      background-position: center center;
    }
    // &::before {
    //   content: "";
    //   display: block;
    //   position: relative;
    //   z-index: 10;
    // }
    &::after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: #FFF 0px solid;
      box-sizing: border-box;
      z-index: 0;
      animation-name: animation;
      animation-duration: 1.8s;
      animation-delay: .8s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards;
    }
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }


    @keyframes animation {
      0% {
        border-width: 0 0;
      }
    
      100% {
         border-width: 7rem 8vw;
      }
    }
  }

  .home-content {
    padding-left: 14vw;
    &__products {
      &__title::before {
        content: 'products';
        font-size: 15px;
        display: block;
      }
      &__list {
        display: flex;
        &__minitatami {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Mini Tatami';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
        &__pattern {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          margin-left: 30px;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Frame pattern';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
        &__order-made {
          height: 350px;
          width: 350px;
          text-decoration: none;
          color: #111111;
          margin-left: 30px;
          &__frame {
            display: block;
            transition: all 0.8s ease 0s;
            &:hover {
              cursor: pointer;
              transform: scale(1.05, 1.05);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
              transition: all 0.8s ease 0s;
            }
            &__image {
              margin: auto;
              height: 220px;
              width: 310px;
              object-fit: cover;
              margin: 50px 20px;
            }
          }
          &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            &::after {
              display: block;
              content: 'Order Made';
              text-align: center;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
      }
    }
    &__rental {
      &__title::before {
        content: 'rental';
        font-size: 15px;
        display: block;
      }
    }
    &__introduce {
      &__title::before {
        content: 'About Tatami';
        font-size: 15px;
        display: block;
      }
    }
    &__contact {
      margin: 40px 20vw 40px 0;
      font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      cursor: pointer;
      text-decoration: none;
      color: #111111;
      &:hover{
        background: #222;
        color: #d6cdcd;
      }
      
      &__link {
        border-top: solid #111111 1px;
        border-bottom: solid #111111 1px;
        padding: 20px 0 20px 15px;
        display: flex;
        justify-content: space-between;
        &__main-text {
          font-size: 37px;
          letter-spacing: 5px;
          &::before {
            content: 'contact';
            font-size: 15px;
            display: block;
          }
        }
        &__sub-text {
          font-size: 18px;
          margin: 50px 40vh 0 0;
        }
      }
    }
  }
  #onebox {
    height: 100vh;
    width: 100%;
    font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
    display: block;
    &__title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 5px;
    }
    &__main {
      padding: 120px 8vw 20px 10vw;
    }

  }
}