@media screen and (min-width: 767px) {
  #home-img {
    background: url("bonsai2.jpg");
    height: calc(100vh - 200px);
    width: auto;
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: right;
    object-fit: cover;
  }

  .home-image {
    margin: 100px;
  }

  .home-content-top-img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
  }

  #home-links-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 40px;
  }
}