.products-content {
  margin-top: 140px;
  padding: 80px 355px;
  &__main {
    &__items {
      display: flex;
      flex-wrap: wrap;
      &__box {
        margin: 0 10px 70px 10px;
        display: block;
        overflow: hidden;
        &__image {
          height: 200px;
          width: 200px;
          object-fit: cover;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
          transition-duration: 0.3s;
          &:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
          }
        }
        &__name {
          margin-top: 20px;
          font-size: 13px;
          font-weight: bold;
          padding-left: 5px;
          font-family: Arial,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,sans-serif; -moz-osx-font-smoothing: grayscale;
        }
        &__price {
          font-size: 15px;
          float: right;
          position: relative;
          bottom: 5px;
        }
      }
    }
  }
}