@media screen and (max-width: 479px) {
  #footer-font {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
  }
  .footer {
    &__content {
      color: #ffffff;
      background: #373C38;
      padding: 50px 5vw;
      display: block;
      &__left {
        display: block;
        &__title {
          display: block;
          padding-top: 10px;
          font-family: '游明朝',YuMincho,'Hiragino Mincho ProN','Hiragino Mincho Pro','ＭＳ 明朝',serif;
          font-size: 1em;
          font-weight: bolder;
        }
        &__info {
          margin-top: 10%;
          font-family: '游明朝',YuMincho,'Hiragino Mincho ProN','Hiragino Mincho Pro','ＭＳ 明朝',serif;
          &__address {
            display: flex;
            font-size: 8px;
          }
          &__tel a{
            font-size: 8px;
            color: #fff;
            text-decoration: none;
          }
          &__open {
            font-size: 5px;
          }
          &__map {
            margin-top: 3rem;
            width: 90vw;
          }
        }

      }
      &__right {
        display: none;
      }
    }
  }
}