@media screen and (max-width: 479px) {
  .mainimage {
    width: 100vw;
    margin-top: 4rem;
  }
  .mainvisual {
    &__hello-message {
      display: none;
    }
    &__open-message {
      position: absolute;
      top: 27vh;
      left: 4%;
      right: 0;
      bottom: 0;
      z-index: 25;
      &__tatami {
        font-size: 20px;
        font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std';
        color: #ffffff;
        letter-spacing: 10px;
        &::after {
          content: 'Japan-specific culture';
          display: block;
          letter-spacing: 4px;
          color: #ffffff;
          font-size: 10px;
          position: absolute;
          left: -2%;
        }
      }
    }
    &__text {
      position: absolute;
      top: 12%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 30;
      font-size: 13px;
      font-family: "游明朝体",YuMincho,"游明朝","YuMincho","Noto Serif JP","Hiragino Mincho ProN","Hiragino Mincho Pro","ＭＳ 明朝", serif;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      &__right {
        background: #ffffff;
        opacity: .9;
        padding-top: 2%;
        height: 20%;
      }
      &__center {
        background: rgba(144, 180, 75, .9);
        padding-top: 2%;
        height: 37%;
      }
      &__left {
        background: rgba(144, 180, 75, .9);
        padding-top: 2%;
        height: 40%;
      }
    }
  }
  .home-content {
    &__introduce{
      padding: .5rem;
      &__title {
        display: none;
      }
      &__about {
        &__text {
          display: flex;
          &__left {
            margin-top: 28vh;
            position: relative;
            font-size: smaller;
            left: 6vw;
          }
          &__right {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            position: relative;
            right: 45vw;
          }
        }
      }
    }
  }
}