
= render 'shared/home-header'
.rental-index__box
  .rental-index__box__top
    .rental-index__box__top__left
      = image_tag 'fireworks_AdobeStock_131330417_Preview.jpeg', class: 'rental-index__box__top__left__image'
    .rental-index__box__top__right
      .rental-index__box__top__right__title ~和の空間を貸し出します~
      .rental-index__box__top__right__list
        %ul.rental-index__box__top__right__list__first-half
          %li.rental-index__box__top__right__list__first-half__jan 1月  元旦
          %li.rental-index__box__top__right__list__first-half__feb 2月  梅のお花見
          %li.rental-index__box__top__right__list__first-half__mar 3月  ひな祭り,お花見
          %li.rental-index__box__top__right__list__first-half__apr 4月  お花見,GW
          %li.rental-index__box__top__right__list__first-half__may 5月  GW
          %li.rental-index__box__top__right__list__first-half__jun 6月  梅雨入り。。。
        .rental-index__box__top__right__list__late
          %li.rental-index__box__top__right__list__late__jul 7月  海・山開き、花火大会
          %li.rental-index__box__top__right__list__late__aug 8月  花火大会
          %li.rental-index__box__top__right__list__late__sep 9月  運動会
          %li.rental-index__box__top__right__list__late__oct 10月  運動会、紅葉
          %li.rental-index__box__top__right__list__late__nov 11月  紅葉、七五三、
          %li.rental-index__box__top__right__list__late__dec 12月  クリスマス
  .rental-index__box__bottom
    .rental-index__box__bottom__left
    .rental-index__box__bottom__right
      = image_tag 'mountain_AdobeStock_315349043_Preview.jpeg', class: 'rental-index__box__bottom__right__image'